@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .masonry-grid {
    column-count: 2;
    column-gap: 1rem;
  }

  @media (min-width: 768px) {
    .masonry-grid {
      column-count: 3;
    }
  }

  @media (min-width: 1024px) {
    .masonry-grid {
      column-count: 4;
    }
  }

  .masonry-item {
    break-inside: avoid;
    margin-bottom: 1rem;
  }
}

/* Pagefind UI Overrides */
.pagefind-ui__search-input {
  @apply w-full bg-stone-50 border-slate-200 rounded-xl pl-4 pr-12 py-3 text-lg focus:ring-2 focus:ring-teal-600 focus:outline-none !important;
}

/* Force Icon to Right */
.pagefind-ui__form::before {
  left: auto !important;
  right: 18px !important;
  top: 18px !important;
}

.pagefind-ui__result-title {
  @apply font-heading font-bold text-teal-600 !important;
}

.pagefind-ui__result-excerpt {
  @apply text-slate-500 font-body !important;
}

/* Custom Print Styles */
@media print {

  nav,
  .ad-unit,
  .no-print {
    display: none !important;
  }

  body {
    background: white;
  }
}