{{/* JSON-LD Schema Generation */}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {{/* 1. Global WebSite Schema */}}
    {
      "@type": "WebSite",
      "@id": "{{ .Site.BaseURL }}#website",
      "url": "{{ .Site.BaseURL }}",
      "name": "{{ .Site.Title }}",
      "description": "{{ .Site.Params.description | default "Free printable coloring pages for adults and kids." }}",
      "potentialAction": [
        {
          "@type": "SearchAction",
          "target": {
            "@type": "EntryPoint",
            "urlTemplate": "{{ .Site.BaseURL }}?s={search_term_string}"
          },
          "query-input": "required name=search_term_string"
        }
      ],
      "inLanguage": "{{ .Site.LanguageCode }}"
    }

    {{/* 2. Breadcrumbs Schema - Only on non-homepage pages */}}
    {{ if not .IsHome }}
    ,
    {
      "@type": "BreadcrumbList",
      "@id": "{{ .Permalink }}#breadcrumb",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "Home",
          "item": "{{ .Site.BaseURL }}"
        }
        {{ $qt := 2 }}
        {{ range .Page.Ancestors.Reverse }}
        {{ if not .IsHome }}
        ,{
          "@type": "ListItem",
          "position": {{ $qt }},
          "name": "{{ .Title }}",
          "item": "{{ .Permalink }}"
        }
        {{ $qt = add $qt 1 }}
        {{ end }}
        {{ end }}
        ,{
          "@type": "ListItem",
          "position": {{ $qt }},
          "name": "{{ .Title }}",
          "item": "{{ .Permalink }}"
        }
      ]
    }
    {{ end }}

    {{/* 3. CollectionPage Schema for List/Section Pages */}}
    {{ if .IsSection }}
    ,
    {
      "@type": "CollectionPage",
      "@id": "{{ .Permalink }}#collectionpage",
      "url": "{{ .Permalink }}",
      "name": "{{ .Title }}",
      "description": "{{ .Description | default .Summary | plainify }}",
      "mainEntity": { "@id": "{{ .Permalink }}#itemlist" },
      "isPartOf": { "@id": "{{ .Site.BaseURL }}#website" }
    }
    ,
    {
      "@type": "ItemList",
      "@id": "{{ .Permalink }}#itemlist",
      "numberOfItems": {{ len .Pages }},
      "itemListElement": [
        {{ range $index, $page := .Pages }}
        {{ if gt $index 0 }},{{ end }}
        {
          "@type": "ListItem",
          "position": {{ add $index 1 }},
          "item": {
            "@type": "CreativeWork",
            "@id": "{{ $page.Permalink }}#creativework",
            "name": "{{ $page.Title }}",
            "url": "{{ $page.Permalink }}"
          }
        }
        {{ end }}
      ]
    }
    {{ end }}

    {{/* 4. Single Asset Schema (ImageObject + CreativeWork) */}}
    {{ if and .IsPage (not .IsHome) }}
    {{/* Determine image URL - prioritize cf_image_id like head.html */}}
    {{ $schemaImage := "" }}
    {{ if .Params.cf_image_id }}
      {{ $schemaImage = printf "https://imagedelivery.net/%s/%s/desktop" $.Site.Params.cf_images_hash .Params.cf_image_id }}
    {{ else if .Params.image_url }}
      {{ $schemaImage = .Params.image_url | absURL }}
    {{ end }}
    {{ if $schemaImage }}
    ,
    {
      "@type": "ImageObject",
      "@id": "{{ .Permalink }}#primaryimage",
      "url": "{{ $schemaImage }}",
      "contentUrl": "{{ $schemaImage }}",
      "caption": "{{ .Title }}"
    }
    {{ end }}
    ,
    {
      "@type": "CreativeWork",
      "@id": "{{ .Permalink }}#creativework",
      "url": "{{ .Permalink }}",
      "name": "{{ .Title }}",
      "headline": "{{ .Title }}",
      "description": "{{ .Description | default .Summary | plainify }}"
      {{ if $schemaImage }}
      ,"image": { "@id": "{{ .Permalink }}#primaryimage" }
      {{ end }}
      ,"genre": "{{ .Params.style }} Coloring Page",
      {{ $keywords := slice }}
      {{ if .Params.categories }}{{ $keywords = $keywords | append .Params.categories }}{{ end }}
      {{ if .Params.collections }}{{ $keywords = $keywords | append .Params.collections }}{{ end }}
      "keywords": "{{ delimit $keywords ", " }}",
      "isPartOf": { "@id": "{{ .Site.BaseURL }}#website" },
      "datePublished": "{{ .Date.Format "2006-01-02T15:04:05-07:00" }}",
      "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" }}",
      "author": {
        "@type": "Organization",
        "name": "{{ .Site.Title }}",
        "url": "{{ .Site.BaseURL }}"
      } 
      {{ if .Params.download_url }}
      ,"associatedMedia": {
        "@type": "DigitalDocument",
        "contentUrl": "{{ .Params.download_url | absURL }}",
        "encodingFormat": "application/pdf"
      }
      {{ end }}
    }
    {{ end }}
  ]
}
</script>